* {
    padding: 0%;
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.about {
    width: 100%;
    padding: 78px 0px;
    background-color: #000000;
}

.about img {
    margin: 5em;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    width: 420px;
}

.about-text {
    margin-top: 4em;
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h3 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: #f9004d;
}

.about-text p {
    color: rgb(247, 196, 29);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background: #f9004d;
    margin: 10px;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}

.images img {
    height: auto;
    width: 50px;
}

.image img {
    height: auto;
    width: 150px;
}

.image img:hover {
    filter: grayscale(100%);
}

a {
    color: yellow;
    text-decoration: none;
}



.container {
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container h1 {

    font-size: 40px;
    margin-top: 20px;
    color: #f9004d;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    top: 5em;
    height: 500px;
    width: 290px;
    margin: 20px;
    box-shadow: 0 3px 5px #373636;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.card .bg-image img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0% 70%);
}

.card {
    background: rgb(22, 21, 21);
}

.card .pic img {
    height: 150px;
    width: 150px;
    ;
    border-radius: 50%;
    border: 4px solid rgb(59, 56, 56);
    margin-top: -90px;
    position: relative;
}

.info h3 {

    color: white;
    font-size: 20px;
    padding: 10px 0;
}

.info span {

    font-size: 15px;
    color: #f9004d;

}

.info p {


    font-size: 13px;
    padding: 10px 20px;
    color: antiquewhite;
}

.icons {
    font-size: 30px;
    text-decoration: none;
    color: #9d244a;
    margin-top: 20px;
    padding: 0 5px;

}

.icons a {
    color: #9d244a;
}

.icons a:hover {
    color: antiquewhite;
}

@media (max-width:450px) {

    .main {
        font-size: x-large;

    }

    .about-text {
        width: 100%;
        padding: 2em;
    }


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .about-text {
        width: 100%;
        padding: 2em;
    }

    .about-text button {
        font-size: 2em;
    }

    .about img {
        width:unset;
        margin: 2em;
    }

    .card {
        width: 40%;
    }

    .info h3{
        font-size: 28px;
    }
    
    .info span{
        font-size: 24px;
    }
    
    .info p{
        font-size: 22px;
    }
}
